.aside {
    position: fixed;
    left: 0;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 0%);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.nav__list {
    display: flex;
    flex-direction: column;
}

.nav__item {
    font-family:'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    color: hsl(52, 17%, 91%);
    font-weight: var(--font-bold);
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.home-button {
    color: hsl(52, 17%, 91%);
}

.linkedIn {
    color: hsl(52, 17%, 91%);
}

.gitHub {
    color: hsl(52, 17%, 91%);
}

.copyright {
    color: hsl(52, 17%, 91%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.nav__toggle {
    position: fixed;
    top: .25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 2rem;
    transition: 0.3;
}

@media screen and (max-width: 1024px) {
    .aside {
        left: -110px;
    }
}

.nav__toggle {
display: flex;
}

.nav__toggle-open {
    left: 140px;
}

.show-menu {
    left: 0;
}

