/* Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Caudex:ital@1&family'); */
/* @import url('https://fonts.googleapis.com/css2?family=Italiana&family'); */
/* @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital@1&family=Italiana&family=Marcellus+SC&family=Noto+Sans+KR:wght@200&display=swap');

/* CSS Variables */

.about-title {
  font-size: 7rem;
}


:root {
  /* Colors  */
  --container-color: hsl(53, 19%, 91%);
  --body-color: hsl(53, 19%, 91%);
  --text-color: hsl(0, 100%, 0%);

  /* Fonts  */
  /* --body-font: "Caudex", serif; */
  /* --body-font:'Italiana', serif; */
  /* --body-font:'Marcellus SC', serif; */
  /* --body-font:'Noto Sans KR', sans-serif; */
 
  --normal-font-size: 5rem;
  --small-font-size: 1.2rem;
  --smaller-font-size: 0.813rem;

  /* Box Shadow  */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  /* Border Radius  */
  --border-radius: 20px;
}

/* Responsive  */
@media screen and (max-width: 1024px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Base  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Reusable CSS  */

.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  display: inline-block;
  background-color: var(--body-color);
  font-weight: var(--font-bold);
}

@keyframesbutton-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}

.links {
  font-size: calc(0.1rem + 7vw); 
  /* font-family:'Italiana', serif; */
  font-family:'Marcellus SC', serif;
}

.intro {
  font-family:'Noto Sans KR', sans-serif;

}

.name {
  
}