/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital@1&family=Italiana&family=Marcellus+SC&family=Noto+Sans+KR:wght@200;600&display=swap");

/* CSS Variables */

.about-title {
  font-size: 7rem;
}

:root {
  /* Colors  */
  --container-color: hsl(52, 17%, 91%);
  --body-color: hsl(52, 17%, 91%);
  --text-color: hsl(0, 0%, 0%);
  --normal-font-size: 5rem;
  --small-font-size: 1.2rem;
  --smaller-font-size: 0.813rem;
  /* Box Shadow  */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  /* Border Radius  */
  --border-radius: 20px;
}

/* Responsive  */
/* -------4400------- */
@media screen and (max-width: 4400px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
  .container-home {
    display: flex;
    /* min-height: 100%; */
    padding-left: 200px;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
    height: 100vh;
  }
  .container-about {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-contact {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-resume {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-work {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-date {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-introvert {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-mood {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .intro {
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 40%;
    padding-bottom: 3vh;
  }
}
/* --------2400--------- */
@media screen and (max-width: 2400px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
  .container-home {
    display: flex;
    /* min-height: 100%; */
    padding-left: 200px;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
    height: 100vh;
  }
  .container-about {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-contact {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-resume {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-work {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-date {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-introvert {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-mood {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .intro {
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 50%;
    padding-bottom: 3vh;
  }
}
/* --------19000-------- */
@media screen and (max-width: 1900px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
  .container-home {
    display: flex;
    padding-left: 200px;
    padding-right: 15px;
    margin: 0 auto;
    height: 100vh;
    height: 100vh;
  }
  .container-about {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-contact {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-resume {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-work {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-date {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-introvert {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-mood {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .intro {
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 50%;
    padding-bottom: 3vh;
  }
}
/* --------1400------- */
@media screen and (max-width: 1400px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
  .container-home {
    display: flex;
    padding-left: 200px;
    padding-right: 15px;
    margin: 0 auto;
    height: 100vh;
    height: 100vh;
  }
  .container-about {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-contact {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-resume {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-work {
    display: inline-block;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-date {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-introvert {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-mood {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .intro {
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 50%;
    padding-bottom: 3vh;
  }
}
/* ------1024------ */
@media screen and (max-width: 1024px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
  .container-home {
    display: inline-block;
    padding-left: 25%;
    padding-right: 15px;
    margin: 0 auto;
  }
  .container-about {
    display: flexbox;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-contact {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-resume {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-work {
    display: inline-block;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-date {
    display: flex;
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-introvert {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .container-mood {
    padding-left: 15%;
    padding-right: 15px;
    padding-top: 5vh;
    margin-bottom: 5vh;
    margin: 0 auto;
  }
  .intro {
    padding-top: 30%;
  }
}
/* --------800-------- */
@media screen and (max-width: 800px) {
  :root {
    --normal-font-size: 4rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 0.813rem;
  }
  .container-home {
    display: inline-block;
    min-height: 100%;
    padding-left: 25%;
    padding-right: 15px;
    justify-content: center;
    margin: 0 auto;
  }
  .nav {
    max-width: 5vw;
  }
  .aside {
    max-width: 5vw;
    max-height: 5vh;
  }
  .container-work {
    display: inline-block;
    padding-top: 10vh;
  }
  .container-about {
    display: inline-block;
  }
 
}

/* Base  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0px;
  height: 100%;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}
h1,
h2,
h3 {
  color: var(--text-color);
  font-weight: var(--font-semibold);
  line-height: 0.9;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Reusable CSS  */
.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  display: inline-block;
  background-color: var(--body-color);
  font-weight: var(--font-bold);
}
@keyframesbutton-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}

/* Home Page */
.johnbenton {
  font-size: calc(0.3rem + 1.5vw);
  font-weight: 600;
}
.credentials {
  font-size: calc(0.1rem + 1.5vw);
  font-weight: 200;
}
.links {
  font-size: calc(0.1rem + 7vw);
  font-family: "Italiana", serif;
  padding-left: 10%;
}

/* About Page  */
.about-left {
  max-width: 60%;
}
.about-title {
  font-size: calc(4rem + 1vw);
  padding-top: 2vh;
  font-family: "Italiana", serif;
}
.hello {
  font-family: "Noto Sans KR", sans-serif;
  font-size: calc(1.7rem + 1vw);
  margin-bottom: 3vh;
}
.about-me {
  font-size: calc(0.7rem + 1vw);
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 3vh;
}
.quote {
  font-size: calc(0.6rem + 1vw);
  padding-top: 3vh;
  padding-bottom: 4vh;
  font-family: "Italiana", serif;
  font-weight: bold;
}
.experience {
  font-family: "Noto Sans KR", sans-serif;
  font-size: calc(1rem + 1vw);
  padding-bottom: 3vh;
}
.experience-details {
  font-size: calc(0.5rem + 1vw);
  padding-top: 1vh;
}
.skills {
  font-family: "Noto Sans KR", sans-serif;
  font-size: calc(1rem + 1vw);
  padding-bottom: 3vh;
}
.skills-details {
  font-size: calc(0.5rem + 1vw);
  padding-top: 1vh;
}
.about-right img {
  height: 80vh;
  padding-top: 10vh;
  padding-left: 2vw;
}
.resume-button {
  color: hsl(53, 19%, 91%);
  background-color: #1a1818;
  border-radius: 50px;
  padding: 10px 40px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: calc(0.1rem + 2vw);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 4vh;
}

/* Resume Page  */

.resume-title {
  font-size: calc(3.9rem + 1vw);
  font-family: "Italiana", serif;
  padding-top: 2vh;
}
p {
  font-size: calc(0.7rem + 1vw);
}
h2 {
  font-size: calc(1.5rem + 1vw);
}
h3 {
  font-size: calc(1rem + 1vw);
  padding-top: 1vh;
}
.resume-credentials {
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.dev-skills {
  margin-left: 10%;
  padding-top: 3vh;
}
.skillsimg {
  max-height: 80px;
  width: auto;
  padding: 5px;
}
.top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.underline {
  text-decoration: underline gold;
  /* padding-bottom: 1vh; */
}
.project {
  padding-top: 4vh;
}
.projects {
  padding-top: 4vh;
}
.career-history {
  padding-top: 4vh;
}
.career {
  padding-top: 4vh;
}

/* Contact Page  */

.greeting {
  max-width: 40%;
  color: hsl(52, 17%, 91%);
}
.contact-title {
  font-size: calc(0.1rem + 7vw);
  font-family: "Italiana", serif;
}
.contact-info {
  font-size: calc(0.2rem + 1vw);
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 1vh;
}

/* Work Page  */

.greeting {
  max-width: 60%;
  color: hsl(52, 17%, 91%);
}
.work-title {
  font-size: calc(4rem + 1vw);
  font-family: "Italiana", serif;
  padding-top: 2vh;

}
.work-info {
  font-size: calc(0.7rem + 1vw);
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 5vh;
}
.work-right {
  padding-left: 5vw;
  max-width: 60%;
}
.date-app-styles {
  padding-bottom: 8vh;
  font-size: calc(2rem + 3vw);
}
.introvert-styles {
  padding-bottom: 8vh;
  font-size: calc(2rem + 3vw);
}
.moodgame-styles {
  padding-bottom: 8vh;
  font-size: calc(2rem + 3vw);
}

/* App Pages  */

.name {
  font-size: calc(0.1rem + 7vw);
  font-family: "Italiana", serif;
  padding-bottom: 5vh;
  color: hsl(52, 17%, 91%);
}
.date-app-img {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  max-width: 50vw;
  margin-left: 15vw;
  /* height: auto; */
}
.homepage-img {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  max-width: 50vw;
  margin-left: 15vw;
  /* height: auto; */
}
.moodgame-img {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  max-width: 50vw;
  margin-left: 15vw;
  /* height: auto; */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1em;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans KR", sans-serif;
}
.top-left {
  color: hsl(52, 17%, 91%);
}
.vision {
  font-size: calc(0.7rem + 2vw);
  margin-bottom: 2vh;
  color: hsl(52, 17%, 91%);
}
.design {
  font-size: calc(0.7rem + 2vw);
  margin-bottom: 2vh;
  margin-top: 2vh;
  padding: 1%;
  color: hsl(52, 17%, 91%);
}
.unlist {
  font-size: calc(0.1rem + 1vw);
}
.logistic-section {
  color: hsl(52, 17%, 91%);
}
.logistics {
  font-size: calc(0.7rem + 2vw);
  color: hsl(52, 17%, 91%);
  margin-bottom: 2vh;
  margin-top: 2vh;
  padding: 1%;
}
.logistics-info {
  font-size: calc(0.4rem + 1vw);
}
.grid2 {
  gap: 1em;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans KR", sans-serif;
}
.mid-left {
  color: hsl(52, 17%, 91%);
}
.react-1-img {
  max-width: 70vw;
  height: auto;
}
.react-2-img {
  max-width: 70vw;
  height: auto;
}
.react-3-img {
  max-width: 30vw;
  height: auto;
}
.react-4-img {
  max-width: 70vw;
  height: auto;
}
.introvert1-img {
  max-width: 50vw;
  height: auto;
}
.moodgame1-img {
  max-width: 50vw;
  height: auto;
}
.moodgame2-img {
  max-width: 50vw;
  height: auto;
}
.moodgame3-img {
  max-width: 50vw;
  height: auto;
}
.lower-left {
  color: hsl(52, 17%, 91%);
}
.features {
  font-size: calc(0.7rem + 2vw);
  margin-bottom: 2vh;
  color: hsl(52, 17%, 91%);
}
.date-app-github {
  color: hsl(52, 17%, 91%);
}
.introvert-app-github {
  color: hsl(52, 17%, 91%);
}
.introvert-app-live {
  color: hsl(52, 17%, 91%);
}
.date-app-live {
  color: hsl(52, 17%, 91%);
}
.code-examples {
  font-size: calc(0.7rem + 2vw);
  margin-bottom: 2vh;
  color: hsl(52, 17%, 91%);
}
.bottom {
  padding-bottom: 5vh;
  color: hsl(52, 17%, 91%);
}
.reflect {
  color: hsl(52, 17%, 91%);
}
.reflection-details {
  padding-top: 2vh;
}
.mood-words {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.introvert-words {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.date-words {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
